sshd:
  port: 22
  permit_root_login: false
  client_alive_interval: 15
  max_startups: 10

  hostkeys:
    ssh_host_ed25519_key: |
      PRIVATE KEY CONTENT
    ssh_host_ed25519_key.pub: |
      PUBLIC KEY CONTENT
