Port {{ port }}
AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
GSSAPIAuthentication no
HostKey /etc/ssh/ssh_host_ed25519_key
PasswordAuthentication no
PrintMotd no
Protocol 2
Subsystem sftp /usr/lib/openssh/sftp-server -f AUTH -l {{ log_level }}
LogLevel {{ log_level }}
SyslogFacility AUTH
UseDNS no
UsePAM yes
X11Forwarding no

{%- if permit_root_login %}
PermitRootLogin yes
{%- else %}
PermitRootLogin no
{%- endif %}

{%- if client_alive_interval %}
ClientAliveInterval {{ client_alive_interval }}
{%- endif %}

{%- if max_startups %}
MaxStartups {{ max_startups }}
{%- endif %}

# Only allow secure ciphers
{%- if grains['osrelease']|float < 22.04  %}
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org
{%- else %}
{# sntrup761x25519-sha512 is supported from openssh-8.5 (Ubuntu Jammy 22.04) onwards #}
KexAlgorithms sntrup761x25519-sha512@openssh.com,curve25519-sha256,curve25519-sha256@libssh.org
{%- endif %}

# Do not use -etm MACs for now, as they are vulnerable to Terrapin
# See: https://terrapin-attack.com
# MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
#MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com
MACs hmac-sha2-512,hmac-sha2-256

# Do not use chacha20-poly1305 for now, as it is vulnerable to Terrapin
# See: https://terrapin-attack.com
#Ciphers chacha20-poly1305@openssh.com
Ciphers aes256-gcm@openssh.com
